{% extends "polls/base.html" %}

{% load static %}

{% block title %}Add Client{% endblock %}

{% block scripts %}
    <script src="{% static 'polls/libs/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'polls/add_client.js' %}"></script>
{% endblock %}

{% block content %}
<form id="new-client-form" action="{% url 'polls:add_client' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Add New Client</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <label for="in-client-first-name">First Name: </label>
        <input
            id="in-client-first-name"
            type="text"
            name="client_first_name"
            required
            autofocus="True">

        <label for="in-client-last-name">Last Name: </label>
        <input
            id="in-client-last-name"
            type="text"
            name="client_last_name"
            required>

        <label for="in-client-email">Email: </label>
        <input
            id="in-client-email"
            type="email"
            name="client_email">

        <label for="in-client-phone">Phone Number: </label>
        <input
            id="in-client-phone"
            type="tel"
            name="client_phone"
            placeholder="###-###-####">
            
    </fieldset>
    <input id="btn-new-client" type="submit" name="submit-new-client" value="Add New Client">
    <!-- <button type="button" onclick="tellme('something')">Tell Me!</button> -->
</form>
{% endblock %}