{% extends "polls/base.html" %}

{% block title %}Get Client{% endblock %}

{% block content %}
<form id="get-client-form" action="{% url 'polls:get_client' %}" method="get">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Get Client</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <label for="in-client-first-name">First Name: </label>
        <input
            autofocus="True"
            id="in-client-first-name"
            name="client_first_name"
            required
            readonly
            type="text">

        <label for="in-client-last-name">Last Name: </label>
        <input
            id="in-client-last-name"
            name="client_last_name"
            required
            readonly
            type="text">

        <label for="in-client-email">Email: </label>
        <input
            id="in-client-email"
            name="client_email"
            readonly
            type="email">

        <label for="in-client-phone">Phone Number: </label>
        <input
            id="in-client-phone"
            name="client_phone"
            placeholder="###-###-####"
            readonly
            type="tel">

    </fieldset>
    <input id="btn-new-client" type="submit" name="submit-new-client" value="Add New Client">
    <!-- <button type="button" onclick="tellme('something')">Tell Me!</button> -->
</form>
{% endblock %}